.Backdrop {
  background-position: center center !important;
  height: 100vh;
}
.MovieInfo {
  max-width: 1280px;
  height: auto;
  min-height: 250px;
  position: relative;
  margin: 0px auto;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  display: block;
}

.MovieDetail {
  color: white;
  padding: 40px;
  overflow: hidden;
  border: none;
}

.MovieDetail h1,
.MovieDetail h3,
.MovieDetail p {
  font-family: "Open Sans", "Helvetica", sans-serif;
}

.PageDiv {
  padding: 40px;
}

.Iframe {
  border-radius: 20px;
  border: 1px solid #ccc;
}

.ExtraInfo {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.ExtraInfo h4 {
  color: #e7fd2f;
}
.MovieDetail h1 {
  color: #e7fd2f;
}

.PageDiv h2 {
  color: #8a03a7;
}

.Rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.TitleDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FavDiv {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #b007d4;
  text-align: justify;
}
.FavDiv ion-icon {
  font-size: 30px;
  transition: all 0.3s ease-in;
}

.FavDiv ion-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .Backdrop {
    min-height: 600px;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .ExtraInfo {
    flex-flow: column;
  }
  .Info {
    margin-bottom: 40px;
  }
}
