/* #be2edd */

body {
  margin: 0;
  background-color: rgb(242, 217, 248);
  font-family: "Open Sans", "Arial", "Helvetica", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
